<div id="edit_content" class="span-24 colborder column">
  <%= output_errors(t('muck.profiles.problem_editing_profile'), {:class => 'help-box'}, @profile) %>
  <% profile_form(@profile) do |f| -%>
    <%# can add form fields as desired here -%>
    <%= f.text_field :location, {:class => 'tags', :tip => t('muck.contents.tags_help'), :label => t('muck.profiles.location') } %>
    <%= f.text_field :skill_list, {:class => 'tags', :tip => t('muck.contents.tags_help'), :label => t('muck.profiles.skills') } %>
    <%= f.text_field :interest_list, {:class => 'tags', :tip => t('muck.contents.tags_help'), :label => t('muck.profiles.interests') } %>
    <%= f.state_select(:state, {:tip => t('muck.contents.choose_layout_help'), :label => t('muck.profiles.state')}) %>
    <%= f.country_select(:country, {:tip => t('muck.contents.choose_layout_help'), :label => t('muck.profiles.country')}) %>
    <%= f.language_select(:language, {:tip => t('muck.contents.choose_layout_help'), :label => t('muck.profiles.language')}) %>
  <% end -%>
</div>