<title><%= @page_title || GlobalConfig.application_name %></title>
<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="distribution" content="all" />
<meta name="robots" content="all" />
<meta name="resource-type" content="document" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<%= google_load_jquery_ui_css(http_protocol) %>
<%= stylesheet_link_tag 'http://www.folksemantic.com/blueprint/print.css', :media => "print" %>
<!--[if IE]><link rel="stylesheet" href="http://www.folksemantic.com//stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<%= stylesheet_link_tag %W{ http://www.folksemantic.com/stylesheets/reset http://www.folksemantic.com/stylesheets/blueprint/liquid_screen.css http://www.folksemantic.com/stylesheets/jquery/jquery.fancybox.css http://www.folksemantic.com/stylesheets/styles http://www.folksemantic.com/stylesheets/frame http://www.folksemantic.com/stylesheets/muck-services http://www.folksemantic.com/stylesheets/muck-activities http://www.folksemantic.com/stylesheets/muck-invites } %>
<%= stylesheet_link_tag 'http://www.folksemantic.com/stylesheets/folksemantic' %>
<%= google_load_jquery(http_protocol) %>
<%= google_load_jquery_ui(http_protocol) %>
<%= javascript_include_tag %w{
            http://www.folksemnatic.com/javascripts/jquery/jrails.js
            http://www.folksemnatic.com/javascripts/jquery/jquery.form.js
            http://www.folksemnatic.com/javascripts/jquery/jquery.jgrowl.js
            http://www.folksemnatic.com/javascripts/jquery/jquery.tips.js
            http://www.folksemnatic.com/javascripts/jquery/jquery.easing.js
            http://www.folksemnatic.com/javascripts/jquery/jquery.fancybox.js
            http://www.folksemnatic.com/javascripts/muck.js
            http://www.folksemnatic.com/javascripts/muck_services.js
            http://www.folksemnatic.com/javascripts/application.js } %>
<%= javascript_tag %[var AUTH_TOKEN = #{form_authenticity_token.inspect};] if protect_against_forgery? %>
<%= yield :head -%>
<link rel="shortcut icon" href="http://www.folksemantic.com/images/folksemantic/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/vnd.microsoft.icon" href="http://www.folksemnatic.com/images/folksemantic/favicon.ico">

<% if Rails.env == 'production' %>
<script type="text/javascript">
var userflyHost = (("https:" == document.location.protocol) ? "https://secure.userfly.com" : "http://asset.userfly.com");
document.write(unescape("%3Cscript src='" + userflyHost + "/users/28689/userfly.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<% end %>